# Servidor
NODE_ENV=development
PORT=3000
HOST=localhost

# Banco de dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=arec_user
DB_PASSWORD=arec_password
DB_NAME=arec_db
DB_DIALECT=postgres

# JWT
JWT_SECRET=sua_chave_secreta_super_segura_aqui_mude_em_producao
JWT_EXPIRE=7d

# CORS
FRONTEND_URL=http://localhost:3001

# Bcrypt
BCRYPT_ROUNDS=10
